body { font-family: 'Poppins', sans-serif; }

@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-rotate {
  animation: rotate-slow 18s linear infinite;
}


